doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css').
      #outlook a {
      padding: 0;
      }
      body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      table,
      td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      }
      p {
      display: block;
      margin: 13px 0;
      }
    //if mso
      noscript
        xml
          o:officedocumentsettings
            o:allowpng
              o:pixelsperinch 96
    //if lte mso 11
      style(type='text/css').
        .mj-outlook-group-fix { width:100% !important; }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap', rel='stylesheet', type='text/css')
    style(type='text/css').
      @import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap);
    // <![endif]
    style(type='text/css').
      @media only screen and (min-width:480px) {
      .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      .mj-column-per-92 {
      width: 92% !important;
      max-width: 92%;
      }
      .mj-column-per-50 {
      width: 50% !important;
      max-width: 50%;
      }
      }
    style(media='screen and (min-width:480px)').
      .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
      }
      .moz-text-html .mj-column-per-92 {
      width: 92% !important;
      max-width: 92%;
      }
      .moz-text-html .mj-column-per-50 {
      width: 50% !important;
      max-width: 50%;
      }
    style(type='text/css').
      @media only screen and (max-width:480px) {
      table.mj-full-width-mobile {
      width: 100% !important;
      }
      td.mj-full-width-mobile {
      width: auto !important;
      }
      }
    style(type='text/css').
      * {
      line-height: 1.7 !important;
      }
      body {
      padding: 25px;
      }
      a {
      text-decoration: none
      }
      .p-5 {
      margin: 20px;
      }
  body(style='word-spacing:normal;background-color:#F2F4F1;')
    .m20(style='background-color:#F2F4F1;')
      //if mso | IE
        table(align='center', border='0', cellpadding='0', cellspacing='0', style='width:600px;', width='600', bgcolor='white')
          tbody
            tr
              td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='background:white;background-color:white;margin:0px auto;border-radius:6px;max-width:600px;')
        table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:white;background-color:white;width:100%;border-radius:6px;')
          tbody
            tr
              td(style='direction:ltr;font-size:0px;padding:20px 0;text-align:center;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tbody
                      tr
                        td(style='width:600px;')
                .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                  //if mso | IE
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation')
                      tbody
                        tr
                          td(style='vertical-align:top;width:600px;')
                  .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                      tbody
                        tr
                          td(style='vertical-align:top;padding-bottom:25px;')
                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                              tbody
                                tr
                                  td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:collapse;border-spacing:0px;')
                                      tbody
                                        tr
                                          td(style='width:25px;')
                                            img(alt='Steward logo', height='auto', src='https://joinsteward.com/steward-logo.png', style='border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;', width='25')
                  //if mso | IE
                //if mso | IE
                .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                    tbody
                      tr
                        td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                          div(style='font-family:Manrope, sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;') Dear #{firstName},
                      tr
                        td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                          div(style='font-family:Manrope, sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;')
                            | We are extremely glad and excited to have you join the Steward. First, you must complete your account creation using the one-time password (OTP) below:
                      tr
                        td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                          div(style='font-family:Manrope, sans-serif;font-size:40px;line-height:1;text-align:left;color:#000000;')
                            b #{otp}
                      tr
                        td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                          div(style='font-family:Manrope, sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;') OTP expires in 10 minutes. See you soon!
                      tr
                        td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                          div(style='font-family:Manrope, sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;')
                            | If you have questions for us, please visit www.joinsteward.com or send an email to support@joinsteward.com 
                            br
                            br
                            |  Best, 
                            h4 The Steward Team
                //if mso | IE
                .mj-column-per-92.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;background-color:#FBFBFB;')
                  //if mso | IE
                    table(bgcolor='#FBFBFB', border='0', cellpadding='0', cellspacing='0', role='presentation')
                      tbody
                        tr
                          td(style='vertical-align:top;width:552px;')
                  .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                      tbody
                        tr
                          td(style='vertical-align:top;padding:10px;')
                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                              tbody
                                tr
                                  td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                                    div(style='font-family:Manrope, sans-serif;font-size:14px;line-height:1;text-align:left;color:#000000;')
                                      | You are receiving this email because you have an account on Steward 
                                      br
                                      br
                                      |  &copy;#{year} Steward - All rights reserved 
                                      br
                                      br
                                      |  Steward Global Technologies Inc.
                  //if mso | IE
                  .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                      tbody
                        tr
                          td(style='vertical-align:top;padding:10px;')
                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                              tbody
                                tr
                                  td(align='left', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:collapse;border-spacing:0px;')
                                      tbody
                                        tr
                                          td(style='width:50px;')
                                            img(alt='Steward logo', height='auto', src='https://joinsteward.com/steward-logo.png', style='border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;', width='50')
                  //if mso | IE
                  .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                      tbody
                        tr
                          td(style='vertical-align:top;padding:10px;')
                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='', width='100%')
                              tbody
                                tr
                                  td(align='right', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                                    //if mso | IE
                                      table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation')
                                        tbody
                                          tr
                                            td
                                    table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation', style='float:none;display:inline-table;')
                                      tbody
                                        tr
                                          td(style='padding:4px;vertical-align:middle;')
                                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:#000000;border-radius:3px;width:20px;')
                                              tbody
                                                tr
                                                  td(style='font-size:0;height:20px;vertical-align:middle;width:20px;')
                                                    a(href='{{web}}', target='_blank')
                                                      img(height='20', src='https://www.mailjet.com/images/theme/v1/icons/ico-social/web.png', style='border-radius:3px;display:block;', width='20')
                                    //if mso | IE
                                    table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation', style='float:none;display:inline-table;')
                                      tbody
                                        tr
                                          td(style='padding:4px;vertical-align:middle;')
                                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:#000000;border-radius:3px;width:20px;')
                                              tbody
                                                tr
                                                  td(style='font-size:0;height:20px;vertical-align:middle;width:20px;')
                                                    a(href='https://twitter.com/intent/tweet?url={{twitter}}', target='_blank')
                                                      img(height='20', src='https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png', style='border-radius:3px;display:block;', width='20')
                                    //if mso | IE
                                    table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation', style='float:none;display:inline-table;')
                                      tbody
                                        tr
                                          td(style='padding:4px;vertical-align:middle;')
                                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:#000000;border-radius:3px;width:20px;')
                                              tbody
                                                tr
                                                  td(style='font-size:0;height:20px;vertical-align:middle;width:20px;')
                                                    a(href='https://www.facebook.com/sharer/sharer.php?u={{facebook}}', target='_blank')
                                                      img(height='20', src='https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png', style='border-radius:3px;display:block;', width='20')
                                    //if mso | IE
                                    table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation', style='float:none;display:inline-table;')
                                      tbody
                                        tr
                                          td(style='padding:4px;vertical-align:middle;')
                                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:#000000;border-radius:3px;width:20px;')
                                              tbody
                                                tr
                                                  td(style='font-size:0;height:20px;vertical-align:middle;width:20px;')
                                                    a(href='{{instagram}}', target='_blank')
                                                      img(height='20', src='https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png', style='border-radius:3px;display:block;', width='20')
                                    //if mso | IE
                                    table(align='right', border='0', cellpadding='0', cellspacing='0', role='presentation', style='float:none;display:inline-table;')
                                      tbody
                                        tr
                                          td(style='padding:4px;vertical-align:middle;')
                                            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='background:#000000;border-radius:3px;width:20px;')
                                              tbody
                                                tr
                                                  td(style='font-size:0;height:20px;vertical-align:middle;width:20px;')
                                                    a(href='https://www.linkedin.com/shareArticle?mini=true&url={{linkedin}}&title=&summary=&source=', target='_blank')
                                                      img(height='20', src='https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png', style='border-radius:3px;display:block;', width='20')
                                    //if mso | IE
                  //if mso | IE
                //if mso | IE
                .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                  //if mso | IE
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation')
                      tbody
                        tr
                //if mso | IE
      //if mso | IE